<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Gradle plugin tests">
    <test name="TestNG">
        <classes>
            <class name="io.qameta.allure.gradle.TestNgTest" />
            <class name="io.qameta.allure.gradle.JUnit4Test" />
            <class name="io.qameta.allure.gradle.CucumberJVMTest" />
            <class name="io.qameta.allure.gradle.MultiModuleTest" />
            <class name="io.qameta.allure.gradle.TestNGSpiOffTest" />
        </classes>
    </test>
</suite>