name: Build

on:
  release:
    types: [published]

jobs:
  release:
    name: 'Release'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11.0.x'
      - name: Build Plugins
        run: ./gradlew build -Pversion=${GITHUB_REF:10}
      - name: Copy gradle.properties
        run: echo ${GRADLE_PUBLISH} > ~/.gradle/gradle.properties
      - name: Publish Plugins
        run: ./gradlew publishPlugins -Pversion=${GITHUB_REF:10} --no-daemon
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
          GRADLE_OPTS: -Xmx1024m
